/*Fonts*/
@font-face {
    font-family: HKGrotesk-Bold;
    src: url("../fonts/HKGrotesk-Bold.otf");
}
@font-face {
    font-family: HKGrotesk-Light;
    src: url("../fonts/HKGrotesk-Light.otf");
}
@font-face {
    font-family: HKGrotesk-Medium;
    src: url("../fonts/HKGrotesk-Medium.otf");
}
@font-face {
    font-family: HKGrotesk-Regular;
    src: url("../fonts/HKGrotesk-Regular.otf");
}
@font-face {
    font-family: HKGrotesk-SemiBold;
    src: url("../fonts/HKGrotesk-SemiBold.otf");
}

/*Geral*/
body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/*Navbar transparente*/
.navbar {
    transition: all 0.4s;
    padding: 0 !important;
}

.navbar .nav-link {
    color: #f2f1eb;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #f2f1eb;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #f2f1eb;
}


/* Navbar após scroll */
.navbar.active {
    background: #353837;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #f2f1eb;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #f2f1eb;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #f2f1eb;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #353837;
        padding: 5px !important;
    }

    .navbar li{
        border-bottom: 1px solid rgba(242,241,235, 0.2);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #f2f1eb;
    }

    header nav img:first-of-type{
        height: 70px;
    }

}


/*Navbar*/

header nav img{
    height: 100px;
}

nav ul li{
    font-size: 20px;
    font-family: HKGrotesk-Light, sans-serif;
}

nav ul li:hover{
    text-decoration: underline;
}

nav ul img{
    width: 22px;
}

nav button:focus{
    outline: 1px solid #f2f1eb;
}

/*Seção inicial*/

.inicio{
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #353837;*/
}

.inicio img{
    max-width: 750px;
    width: 100%;
    min-width: 300px;
}

.inicio button{
    background: none;
    color: #f2f1eb;
    border: 2px solid #f2f1eb;
    padding: 10px 15px;
    font-family: HKGrotesk-Regular;
    font-size: 20px;
    transition: 0.4s;
}

.inicio button:hover{
    background: #f2f1eb;
    color: #353837;
    cursor: pointer;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .inicio button{
        padding: 5px 10px;
        font-size: 16px;
    }
}

/*Titulo seção*/
.linha-secao{
    border: 2px solid #1e2120;
    width: 130px;
    margin: auto;
}

.titulo-secao h1{
    color: #1e2120;
    font-family: HKGrotesk-SemiBold;
}

/*Sobre mim*/

.sobre-mim{
    background-image: url(../img/bgcreme2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre-mim img {
    width: 100%;
    box-shadow: 7px 7px 15px 1px rgba(0, 0, 0, 0.4);
}

.sobre-mim p{
    font-family: HKGrotesk-Regular;
    font-size: 18px;
}

/*Valores*/

.valores{
    background-color: #353837;
}

.valores .linha-secao{
    border: 2px solid #f2f1eb;
    width: 130px;
    margin: auto;
}

.valores .titulo-secao h1{
    color: #f2f1eb;
    font-family: HKGrotesk-SemiBold;
}

.box-valor{
    background-color: #f2f1eb;
    width: 300px;
    height: 230px;
    transition: 0.3s;
}

.box-valor:hover{
    box-shadow: 0px 0px 20px 1px rgba(242,241,235, 0.5);
    transition: 0.3s;
}

.box-valor img{
    width: 40px;
    height: 35px;
    margin-right: 20px;
}
.box-valor h4{
    font-family: HKGrotesk-Bold;
    color: #353837;
    line-height: 35px;
}

.box-valor p{
    font-family: HKGrotesk-Regular;
}

/*Escritorio*/

.escritorio p{
    font-family: HKGrotesk-Regular;
    font-size: 18px;
}

/* Fotos escritorio*/
.carousel-item img{
    width: 100%;
}

.fotos-escritorio img{
    box-shadow: 7px 7px 15px 1px rgba(0, 0, 0, 0.4);
}

.carousel-indicators li{
    background-color: rgba(53, 56, 55, 0.3);
}

.carousel-indicators .active{
    background-color: #353837;
}

/*Áreas atuação*/

.card{
    height: 325px;
    width: 80%;
    background-color: #353837;
    box-shadow: 7px 7px 15px 1px rgba(0, 0, 0, 0.4);
}

.parte1-card{
    background-color: #1e2120;
    padding: 20px;
}

.parte2-card{
    background-color: #353837;
    padding: 20px;
}

.parte2-card h3{
    color: #f2f1eb;
    font-family: HKGrotesk-SemiBold;
}

.parte2-card button{
    width: 120px;
    border: 1.5px solid #f2f1eb;
    background: none;
    color: #f2f1eb;
    transition: 0.3s;
}

.parte2-card button:hover{
    background: #f2f1eb;
    color: #1e2120;
    cursor: pointer;
    transition: 0.3s;
}

/*Principais ações*/

.nav-pills .nav-link.active{
    background-color: #353837;
    color: #f2f1eb;
}

.nav-pills .nav-link{
    color: #1e2120;
    font-family: HKGrotesk-Regular;
    font-size: 18px;
}

.principais-acoes h3 {
    font-family: HKGrotesk-SemiBold;
}

.card-ajuda{
    background-color: #f2f1eb;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 1px rgba(35, 36, 38, 0.3);
}

.card-ajuda h5{
    font-family: HKGrotesk-SemiBold;
}

.card-ajuda p{
    font-family: HKGrotesk-Regular;
}

.card-ajuda button{
    background: none;
    outline: none;
    color: #353837;
    border: 1px solid #353837;
    font-family: HKGrotesk-Regular;
    transition: 0.3s;
    padding: 2px 5px;
}

.card-ajuda button:hover{
    background-color: #353837;
    color: #f2f1eb;
    transition: 0.3s;
    cursor: pointer;
}

/*Dúvidas frequentes*/
.duvidas {
    background-color: #f2f1eb;
}

.accordion h2{
    color: #353837;
    font-family: HKGrotesk-SemiBold;
}

.accordion-button{
    background-color: #f2f1eb;
    border: 1px solid #353837;
} 

.accordion-item:first-of-type .accordion-button {
   border-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}

.accordion-button:not(.collapsed) {
    color: #f2f1eb;
    background-color: #353837;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #353837;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(35 36 38 / 25%);
}

.accordion-body {
    background-color: #f2f1eb;
    border: 1px solid #353837;
}

.duvidas .botao-agendar button{
    background-color: #353837;
    color: #f2f1eb;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-family: HKGrotesk-Regular;
    transition: 0.3s;
}

.duvidas .botao-agendar button:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 20px 1px rgba(35, 36, 38, 0.5);
    cursor: pointer;
}